Repository zscaler/ziacloud-ansible: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, Module Utilities, Info Modules, Policy Modules, Application Segments, PRA Modules, Connector & Service Edge

codecov.yml:

# Codecov configuration for zpacloud-ansible collection
# https://docs.codecov.io/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"
  status:
    project:
      default:
        target: auto
        threshold: 1%
        informational: true
    patch:
      default:
        target: auto
        threshold: 1%
        informational: true

parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      method: false
      macro: false

flags:
  unittests:
    paths:
      - plugins/
    carryforward: true

# Components for granular coverage tracking
# https://docs.codecov.com/docs/components
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        informational: true
  individual_components:
    # Core utilities (zpa_client, utils)
    - component_id: module_utils
      name: Module Utilities
      paths:
        - plugins/module_utils/**
    # Read-only info modules
    - component_id: info_modules
      name: Info Modules
      paths:
        - plugins/modules/*_info.py
    # Policy-related modules
    - component_id: policy_modules
      name: Policy Modules
      paths:
        - plugins/modules/zpa_policy_*.py
    # Application segment modules
    - component_id: app_segment_modules
      name: Application Segments
      paths:
        - plugins/modules/zpa_application_segment*.py
    # PRA (Privileged Remote Access) modules
    - component_id: pra_modules
      name: PRA Modules
      paths:
        - plugins/modules/zpa_pra_*.py
    # Connector and Service Edge modules
    - component_id: connector_modules
      name: Connector & Service Edge
      paths:
        - plugins/modules/zpa_app_connector*.py
        - plugins/modules/zpa_service_edge*.py
        - plugins/modules/zpa_connector*.py

comment:
  layout: "header,diff,flags,components,tree"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "tests/**/*"
  - "docs/**/*"
  - "local_dev/**/*"
  - "**/__init__.py"

fix: automationhub token workflow
  .github/workflows/automationhub_token_keepalive.yml
Due: none

fix: automationhub token workflow
  .github/workflows/_discover_python_ver.yml
  .github/workflows/ansible-test-lint.yml
  .github/workflows/ansible-test-sanity.yml
  .github/workflows/automationhub_token_keepalive.yml
  .github/workflows/check_requirements.yml
  .github/workflows/release.yml
Due: none

fix: Fixed ZIA URL Categories update function
  .github/workflows/release.yml
  CHANGELOG.md
  plugins/modules/zia_url_categories.py
  poetry.lock
Due: unittests

feat: Fixed ZIA URL Categories update function
  CHANGELOG.md
  docs/source/release_notes.rst
  plugins/modules/zia_url_categories.py
Due: unittests

feat: Fixed ZIA URL Categories update function (#108)
  CHANGELOG.md
  docs/source/release_notes.rst
  plugins/modules/zia_url_categories.py
Due: unittests

feat: Fixed ZIA URL Categories update function
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/zia-test.yml
  poetry.lock
Due: none

feat: Fixed ZIA URL Categories update function (#109)
  .github/workflows/release.yml
  .github/workflows/unit-tests.yml
  .github/workflows/zia-test.yml
  poetry.lock
Due: none

chore(release): 2.1.0
  plugins/module_utils/version.py
Due: unittests, Module Utilities

Notes added by 'git notes add'
  f48d7d9abb5bba1374ce64a55aad0580906234c7
Due: none

feat(location): add extranet association support to locations
  plugins/modules/zia_location_management.py
  plugins/modules/zia_location_management_info.py
  tests/unit/plugins/modules/test_zia_location_management.py
  uv.lock
Due: unittests, Info Modules

fix: Fixed GitHub Workflow schedule
  .github/workflows/unit-tests.yml
  .github/workflows/zia-test.yml
Due: none

fix: Fixed GitHub Workflow schedule
  .github/workflows/ansible-test-sanity.yml
  .github/workflows/release.yml
Due: none

fix: Fixed GitHub Workflow schedule
  tests/sanity/ignore-2.20.txt
Due: none

fix: Fixed GitHub Workflow schedule
  Makefile
Due: none

fix: Fixed GitHub Workflow schedule
  .github/workflows/ansible-test-sanity.yml
Due: none

fix: Fixed GitHub Workflow schedule
  .github/workflows/ansible-test-lint.yml
  .github/workflows/ansible-test-sanity.yml
  .github/workflows/release.yml
Due: none

fix: Fixed GitHub Workflow schedule
  .github/workflows/release.yml
Due: none

chore(release): 2.2.0
  docs/source/index.rst
Due: none

Notes added by 'git notes add'
  faa352ba438f1792649e0caee3462e799d1ed98f
Due: none

chore: Fixed Documentation workflow
  .github/workflows/release.yml
Due: none

fix(ci): stabilize sanity workflows and meet RedHat AAP requirements
  .github/workflows/ansible-test-sanity.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/source/release_notes.rst
  meta/runtime.yml
Due: none

fix(ci): stabilize sanity workflows and meet RedHat AAP requirements (#121)
  .github/workflows/ansible-test-sanity.yml
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/source/release_notes.rst
  meta/runtime.yml
Due: none

chore(release): 2.2.1
  docs/source/index.rst
  galaxy.yml
  plugins/module_utils/version.py
  pyproject.toml
Due: unittests, Module Utilities

Notes added by 'git notes add'
  6faa23f6ec938e2985cf4c1a13eab52aa980af1f
Due: none

fix: Release v2.2.1
  CHANGELOG.md
  docs/source/release_notes.rst
Due: none

fix: Release v2.2.1
  CHANGELOG.md
Due: none

Deploying to gh-pages from @ zscaler/ziacloud-ansible@59aa7a7eb3645e22e6282d64a5c26d0195de0d9a 🚀
  .doctrees/environment.pickle
  .doctrees/release_notes.doctree
  _sources/release_notes.rst.txt
  release_notes.html
  searchindex.js
Due: none

fix: Release v2.2.1 (#122)
  CHANGELOG.md
  docs/source/release_notes.rst
Due: none

chore(release): 2.2.2
  docs/source/index.rst
  galaxy.yml
  plugins/module_utils/version.py
  pyproject.toml
Due: unittests, Module Utilities

Notes added by 'git notes add'
  d9736108d75fbd51e07d05c24c28d5fd556e2b75
Due: none

fix: address RedHat certification feedback (README links, galaxy license, version sync)
  CHANGELOG.md
  README.md
  docs/source/index.rst
  docs/source/release_notes.rst
  galaxy.yml
  plugins/module_utils/version.py
  pyproject.toml
Due: unittests, Module Utilities

fix: address RedHat certification feedback (README links, galaxy license, version sync) (#123)
  CHANGELOG.md
  README.md
  docs/source/index.rst
  docs/source/release_notes.rst
  galaxy.yml
  plugins/module_utils/version.py
  pyproject.toml
Due: unittests, Module Utilities

Notes added by 'git notes add'
  870b09a9f25fc69e5bbf21b33e9e0de07dd6b0cc
Due: none
